
/* CSS Reset */
html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
legend{color:#000}
/* CSS Reset EOF */

* { font-family:arial; }

#main { width:1000px; margin:0 auto; }

#logo { font-size:24px; text-align:center; }

.title { color:#333; font-weight:bold; font-size:13px; cursor:pointer; }
.title:hover { color:#2793e6; }
.thumbnail { float:left; margin-right:10px; }

#check-video-form { text-align:center; font-size:20px; height:30px; margin-top:30px;}
#check-video-form #video-url { border:solid 1px #aeaeae; padding:3px; width:420px; }
#check-video-form #check-video { border:solid 1px #aeaeae; padding:1px 10px 1px 10px; font-size:20px; height:32px; font-weight:bold; cursor:pointer; margin-left:-1px; }

#popular-videos .popular-video { display:inline-block; float:left; width:490px; margin-right:10px; margin-bottom:16px; }
