
/* CSS Reset */
html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{font-size:100%}
legend{color:#000}
/* CSS Reset EOF */

* { font-family:'Open sans', Arial, sans-serif; color:#555; }
html { /*background-color:#e8e8e8;*/ background-color:#cddee6; }
.breaker { clear:both; }

#main { margin:0 auto; text-align:center; }
.content { width:981px; margin:0 auto; }
#tagline { font-family:sans-serif; letter-spacing: -0.05555556em; color:white; font-weight:700; font-size:22px; font-style:italic; margin-top:-15px; }
#error-message { color:red; font-size:17px; }

#clouds-background { background:url('banner-bg.png'); /*background: -webkit-linear-gradient(top, #32a3dd 0%, #e8e8e8 100%); background: -moz-linear-gradient(top, #32a3dd 0%, #e8e8e8 100%); background: -linear-gradient(top, #32a3dd 0%, #e8e8e8 100%); height:322px; overflow:hidden;*/ position:relative; text-align:center; }
#clouds-background .clouds-area { background:url('background.jpg') no-repeat center; margin:0 auto; position:relative; height:318px; }
#logo-and-form { position:absolute; top:0; width:100%;  }

#logo-wrapper { }
#logo { height:50px; font-size:24px; text-align:center; font-family:'Sniglet', Arial, sans-serif; color:white; font-size:54px; letter-spacing:-3px; padding-top:70px; }

.title { color:#333; font-weight:bold; font-size:13px; }
div.thumbnail { position:relative; }
.thumbnail { float:left; }
.thumbnail .overlay { position:absolute; display:none; bottom:0; height:40px; text-align:center; width:100%; background-color:#e8e8e8; opacity:0.8; color:black; padding-top:12px; text-decoration:underline; z-index:10; }

#check-video-form { text-align:center; font-size:20px; margin-top:40px;}
#check-video-form #input-border { border:solid 2px #555; border-radius:10px; padding:10px; width:650px; margin:0 auto; background-color:white; }
#check-video-form .instructions { font-size:18px; }
#check-video-form #video-url { border:0; padding:3px; width:545px; margin-right:10px; outline:0; }
#check-video-form #check-video { padding:11px 18px; font-size:20px; height:32px; font-weight:bold; cursor:pointer; border-radius:0 7px 7px 0; background-color:#ADE3FF; color:#32a3dd; margin-right:-20px;margin-top:-8px;margin-bottom:-8px;display:inline-block;width:50px; }
#check-video-form #check-video.loading { background-color:#aeaeae; border-color:#aeaeae; }
#check-video-form #check-video:hover { -webkit-transition:background-color 0.5s linear; background:#32a3dd; }
#check-video-form #check-video:hover { background-color:#32a3dd; color:white; }

#video-results { width:800px; margin:0 auto; border-radius:10px; padding:10px; background-color:#e8e8e8; margin-top:14px; border:solid 2px black; background-color:white; }
#video-results .thumbnail { cursor:pointer; }
#video-results .video-title { font-size:16px; font-weight:bold; cursor:pointer; margin-bottom:10px; }
#video-results .video-info { padding-left:330px; text-align:left; font-size:14px; }
#video-results .video-info span { font-weight:bold; font-size:14px; color:#32a3dd; }
#video-results .video-info .wasted-time { font-weight:bold; font-size:22px; }
#video-results .video-info .wasted-time span { font-size:22px; color:#32a3dd; }

#popular-videos { text-align:left; margin-top:30px; font-size:26px; text-shadow:white 0 1px 0; }
#popular-videos .videos { margin-top:10px; }
#popular-videos .popular-video { display:inline-block; float:left; width:470px; margin-right:15px; margin-bottom:16px; border:1px solid #d9d9d9; border-radius:6px; background-color:white; font-size:16px; position:relative; }
#popular-videos .popular-video .view-movie { position:absolute; bottom:4px; right:4px; font-size:14px; padding:1px 12px; border-radius:4px; background-color:#ADE3FF; color:#333; text-shadow:none; cursor:pointer; }
#popular-videos .popular-video .view-movie:hover { text-decoration:underline; }
#popular-videos .popular-video .title { margin-top:6px; }
#popular-videos .popular-video .thumbnail { border-top-left-radius: 6px; border-bottom-left-radius:6px; margin-right:10px; }
#popular-videos .popular-video .wasted-time .value { font-weight:bold; }
#popular-videos .video-info { font-weight:normal; color:black; }











/* CLOUDS */
.cloud { width: 200px; height: 60px; background: #fff; border-radius: 200px; -moz-border-radius: 200px; -webkit-border-radius: 200px; position: absolute; }
.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}
.cloud:after { width: 120px; height: 120px;	top: -55px; left: auto; right: 15px; }

.x1 {
	top:241px; left:944px;
	-webkit-animation: moveclouds 17s linear infinite;
	-moz-animation: moveclouds 17s linear infinite;
	-o-animation: moveclouds 17s linear infinite;
}
.x2 {
	right: 25px; top:49px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6;
}
.x7 {
	right: 295px; top:39px;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
	opacity: 0.6;
}
.x6 {
	right: -228px; top:98px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6;
}

.x3 {
	left: -9px; top: 104px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8;
}

.x4 {
	left: -174px; top: 200px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.3;
}

.x5 {
	left: -150px; top: -25px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8;
}

/* Google Ads */
#google-ads { display:inline-block; position:fixed; right:0; top:200px; }