div#about-content(style='display:none;')
	div.about-content
		div.title WastedHumanity
		div.text
			| This site was created by the Israeli geek duo <span class="sp">Gilly Barr</span> & <span class="sp">Gil Cohen</span>.<br/>
			| They both share the same enthusiasm towards the interwebs and their number one goal in life is to make the world a better place (by using their high class humor).<br/>
			| <br/>
			| <span class="sp">Gil</span> decided to be born just as he heard about the creation of the Teenage Mutant Ninja Turtles. He grew up watching cartoons and they watched him silently while he was sleeping.<br/>
			| Today, he spends most of his time looking for bubbles in the nature and painting flying eggplants on anything that moves (slower than him).<br/>
			| You can see his art at: <a href="http://www.flying-eggplant.com" target="_blank">www.flying-eggplant.com</a> or on instagram <a href="" target="_blank">@flying_eggplant</a><br/>
			| <br/>
			| <span class="sp">Gilly</span> was born over 600 years ago, but was so disapointed the internet wasn't invented yet, he decided to be
			| unborn and come back when the world was ready for him.<br/>
			| He's a true geek, secretly living a double life - by day he tries to make people laugh by building silly websites,
			| by night - he doesn't.<br/>
			| <br/>
			| You can contact them at : <span class="sp">MansionOfAwesome [at] (Google's e-mail service) [.com]</span>