// AddThis Button BEGIN
div.addthis_toolbox.addthis_floating_style.addthis_counter_style(style="left:50px;top:50px;")
	a.addthis_button_facebook_like(fb:like:layout="box_count")
	a.addthis_button_tweet(tw:count="vertical")
	a.addthis_button_google_plusone(g:plusone:size="tall")
	a.addthis_counter
script(type="text/javascript").
	var addthis_config = {"data_track_addressbar":true};
script(type="text/javascript",src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52430cfa3b975eca")
// AddThis Button END