div#google-ads
	script(async, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
	// WastedHumanity2
	ins(class='adsbygoogle', style='display:inline-block;width:160px;height:600px', data-ad-client='ca-pub-4935860098369837', data-ad-slot='5126552501')
	script.
		(adsbygoogle = window.adsbygoogle || []).push({});