doctype 5
html
	head
		title WastedHumanity.com - The time humanity wasted...

		link(href='main.css',rel='stylesheet')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='main.js')

		block head

	body
		
		div#main
			block body