doctype 5
html
	head
		include yolo

		title Wasted Humanity - The time humanity wasted on youtube vidoes

		meta(name='description', content='We, humanity, wasted TOO much time watching these youtube videos instead of doing more useful productive stuff')

		// facebook opengraph metatags
		meta(property='og:title', content='WastedHumanity.com - The time humanity wasted')
		meta(property='og:url', content='http://www.wastedhumanity.com')
		meta(property='og:description', content='See how much time humanity wasted on youtube videos and what we could\'ve done instead')
		// twitter tags
		meta(name='twitter:card', content='summary')
		meta(name='twitter:url', content='http://www.WastedHumanity.com')
		meta(name='twitter:title', content='The time humanity wastes on youtube videos')
		meta(name='twitter:description', content='See how much time humanity wasted on youtube videos and what we could\'ve done instead')
		meta(name='twitter:image', content='')

		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400', rel='stylesheet', type='text/css')
		link(href='main.css',rel='stylesheet')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='main.js')

		block head

	body
		block body


		include googleAnalytics
		include googleAds
		include addthis