//.
	.
	.
	.
	.                          YYYYYYY       YYYYYYY              lllllll                  
	.     ######    ######     Y:::::Y       Y:::::Y              l:::::l                  
	.     #::::#    #::::#     Y:::::Y       Y:::::Y              l:::::l                  
	.     #::::#    #::::#     Y::::::Y     Y::::::Y              l:::::l                  
	.######::::######::::######YYY:::::Y   Y:::::YYYooooooooooo    l::::l    ooooooooooo   
	.#::::::::::::::::::::::::#   Y:::::Y Y:::::Y oo:::::::::::oo  l::::l  oo:::::::::::oo 
	.######::::######::::######    Y:::::Y:::::Y o:::::::::::::::o l::::l o:::::::::::::::o
	.     #::::#    #::::#          Y:::::::::Y  o:::::ooooo:::::o l::::l o:::::ooooo:::::o
	.     #::::#    #::::#           Y:::::::Y   o::::o     o::::o l::::l o::::o     o::::o
	.######::::######::::######       Y:::::Y    o::::o     o::::o l::::l o::::o     o::::o
	.#::::::::::::::::::::::::#       Y:::::Y    o::::o     o::::o l::::l o::::o     o::::o
	.######::::######::::######       Y:::::Y    o::::o     o::::o l::::l o::::o     o::::o
	.     #::::#    #::::#            Y:::::Y    o:::::ooooo:::::ol::::::lo:::::ooooo:::::o
	.     #::::#    #::::#         YYYY:::::YYYY o:::::::::::::::ol::::::lo:::::::::::::::o
	.     ######    ######         Y:::::::::::Y  oo:::::::::::oo l::::::l oo:::::::::::oo 
	.                              YYYYYYYYYYYYY    ooooooooooo   llllllll   ooooooooooo  
	.
	.
	.